#header-nav {
	background-color: #ffccf0;
}

#logo-img {
	background: url('../images/logo.png') no-repeat;
	width: 200px;
	height: 77px;
	margin: 10px 15px 10px 0;
}

#navbar-brand {
	padding-top: 25px;
}

#navbar-brand {
	color: #ffccf0;
}

#nav-list {
	margin-top: 10px;
	color: #ffccf0;
}

#nav-list a {
	text-align: center;
}

#nav-list a:hover {
	background: #ed34ce;
}

#navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #ed34ce;
}

#navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

.container .jumbotron {
	margin-top: 30px;
	padding: 0;
	box-shadow: 0 0 50px #ffccf0;
	border: 2px solid #ffccf0;
}

#qui-som, #veure-sailormoon, #contactar {
	height: 200px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #ffccf0;
	overflow: hidden;
}

#qui-som:hover, #veure-sailormoon:hover, #contactar;hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

#qui-som {
	background: url('../images/quisom.png') no-repeat;
	background-position: center;
}

#veure-sailormoon {
	background: url('../images/veuresailormoon.png') no-repeat;
	background-position: center;
}

#contactar {
	background: url('../images/contactar.png') no-repeat;
	background-position: center;
}

#qui-som span, #veure-sailormoon span, #contactar span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}

@media(min-width: 1200px) {
	.jumbotron {
		background: url('../images/jumbotron1200.png') no-repeat;
		height: 750px;
		box-shadow: 0 0 50px #ffccf0
		border: 2px solid #ffccf0;
	}
}

@media(min-width: 992px) and (max-width: 1199px){
	#logo-img{
		background: url('../images/logo-medium.png') no-repeat;
		width: 150px;
		height: 58px;
		margin: 5px 5px 5px 0px;
	}
	.jumbotron {
		background: url('../images/jumbotron992.png') no-repeat;
		height: 620px;
		box-shadow: 0 0 50px #ffccf0
		border: 2px solid #ffccf0;
	}

}

@media(min-width: 768px) and (max-width: 991px){
	.jumbotron {
		background: url('../images/jumbotron768.png') no-repeat;
		height: 480px;
		box-shadow: 0 0 50px #ffccf0
		border: 2px solid #ffccf0;
	}

}

@media(max-width: 767px){
	.navbar-brand {
		padding-top: 10px;
		height: 20px;
	}

	h1 {
		margin: .67em 0;
  		font-size: 5vw;
	}

	#qui-som, #veure-sailormoon, #contactar {
		width: 300px;
		margin: 0 auto 15px;
	}

}
